extends layout

block content
  h1= typeof message !== 'undefined' ? message : 'An error occurred'
  h2= typeof error !== 'undefined' && error.status ? error.status : 'Error'
  if typeof error !== 'undefined' && error.stack
    pre #{error.stack}
