extends layout

block content
  .row.banner
    .col-12
      h1 TravelMate
      small &nbsp;Find places to work with wifi near you!

  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location1") Ooty Plan
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 100m
          p.address 125 High Street, Reading, RG6 1PS
          p.facilities
            span.badge.badge-warning Flights
            span.badge.badge-warning Food
            span.badge.badge-warning Premium experience

      .card
        .card-block
          h4
            a(href="/location2") Goa Escape
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 200m
          p.address 50 Beach Road, Goa, 403001
          p.facilities
            span.badge.badge-warning Beach
            span.badge.badge-warning Wifi
            span.badge.badge-warning Scenic views

      .card
        .card-block
          h4
            a(href="/location3") Coorg Retreat
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            span.badge.badge-pill.badge-default.float-right 150m
          p.address 10 Hilltop Road, Coorg, 571201
          p.facilities
            span.badge.badge-warning Nature
            span.badge.badge-warning Wifi
            span.badge.badge-warning Tranquility

    .col-12.col-md-4
      p.lead Looking for wifi and a seat? TravelMate helps you find places to work when out and about. Perhaps with coffee, cake, or a pint? Let TravelMate help you find the place you're looking for.
